4- Convolutional Neural Networks/Certificate.pdf
3- Structuring Machine Learning Projects/Certificate.pdf
2- Improving Deep Neural Networks Hyperparameter tuning, Regularization and Optimization/Certificate.pdf
1- Deep Learning & Neural Networks/Certificate.pdf
4- Convolutional Neural Networks/Week 4/Lab#6 Neural Style Learning/pre-trained_model/imagenet-vgg-verydeep-19.mat
5- Sequence Models/Week 2/Lab#4/data/glove.6B.50d.txt
5- Sequence Models/Week 2/Lab#5/data/glove.6B.50d.txt